body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --primary-color: #a5dee5;
  --secondary-color: #111111;
  --background-color: #cdedf0;
  --accent-color: #7dcfda;
  --text-color: #2a2a2a;
  --black-color: #000000;
}

.App-header {
  background-color: #333;
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 600px;
  height: auto;
}

h1 {
  font-size: 24px;
  margin-left: 20px;
}

.search-form-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 460px;
  align-content: center;
}

.search-form-heading {
  font-size: 24px;
  margin-bottom: 15px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 15px;
}

.input-field,
.range-field,
.search-button,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.range-field {
  width: calc(100% - 40px);
}

.search-button {
  background-color: var(--accent-color);
  color:  var(--text-color) ;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.flight-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.flight-info-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.time-cell {
  font-weight: bold;
}

.outbound-cell {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.airport-cell {
  font-style: italic;
}

.airline-cell {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flight-card-container {
  width: 90%;
}

.flight-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.flight-columns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: 500px;
}

.flight-column {
  flex: 1;
}

.flight-leg {
  margin-bottom: 15px;
}

.airport-name {
  font-size: 16px;
  font-weight: bold;
}

.departure-time,
.arrival-time {
  color: #888;
}

.separator {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.details-button {
  display: block;
  margin-top: 15px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.loader {
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

header {
  background-color: var(--primary-color);
  padding: 20px 0;
}

.logo img {
  width: 500px;
  height: 100px;
}

.flight-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flight-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.flight-cards p {
  text-align: center;
}

.form-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically and horizontally */
  padding: 20px;
  text-align: center; /* Center text within labels */
}

.radio-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; /* Center radio options horizontally */
}

.radio-option {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.radio-option:last-child {
  margin-right: 0;
}

.radio-option:hover {
  background-color: #f0f0f0;
}

input[type="radio"] {
  margin-right: 10px;
}

.selected-form {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
  
  .card {
    position: relative;
    width: 400px;
    height: 120px;
    border-radius: 10px;
    padding: 0 50px;
    margin: 50px auto;
    background-color: rgb(162, 166, 178);
  }
  .title {
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .input-field {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .location-type-select {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .suggestion-list-container {
    position: absolute;
    width: 24%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    h1 {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  @media (min-width: 769px) {
    .form-selector {
      padding: 30px; /* Adjust padding for larger screens */
    }
  
    .radio-container {
      flex-direction: row; /* Already defined in base styles */
    }
  
    .radio-option {
      margin-right: 30px; /* Adjust spacing for larger screens */
    }
  }
  
  /* Media query for screens smaller than or equal to 480px */
  @media (max-width: 480px) {
    .form-selector {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .radio-container {
      flex-direction: column; /* Stack radio options vertically for smaller screens */
      align-items: flex-start; /* Left-align radio options */
    }
  
    .radio-option {
      margin-right: 0; /* Remove margin for stacking */
      margin-bottom: 10px; /* Add spacing between radio options */
    }
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
